<div class="container my-5">
    <h1 class="mb-3">Ask Question</h1>

    <div class="row justify-content-md-start">
        <div class="col-sm-12">
            <form #form="ngForm" (ngSubmit)="addQuestionMethod()">
                <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" 
                  name="title" [(ngModel)]="addQuestionRequest.title" maxlength="250">          
                 </div>
                <div class="mb-3">
                  <label for="description" class="form-label">Description</label>
                  <textarea type="text" class="form-control" id="description" name="description"
                  rows="10" [(ngModel)]="addQuestionRequest.description" maxlength="1000"></textarea>          
                </div>
                <div class="mb-3">                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>    

</div>
